{
 :sequence            "TATGCCGGCTGCGGAAACTAGCCCCGAGTTTTGAAACCTGGAACGTCGCAAGCTGATGACCACTAGGTGTTAGCGAACATGCGGCGGCGGCGGTGGGTAAAGAACGTTAACCAA"
 :max-fragment-length 172
 :tags                {"A" "AGAA"
                       "B" "ACTA"
                       "C" "GATT"
                       "D" "CCTG"
                       "E" "ATCA"
                       "F" "GCGT"
                       "G" "CTCC"
                       "H" "CAGC"
                       "I" "TCGG"
                       "K" "CGAC"}}